@using Microsoft.AspNetCore.Identity
@model IEnumerable<gesin_app.ViewModel.ReportesView>

@{

    Layout = null;
    ViewData["Title"] = "Index";


    List<Persona> mantenedorreparo = ViewBag.mantenedorreparo;

    List<Subsistema> subsistemas = ViewBag.subsistema;

    List<Estacion> estaciones = ViewBag.estaciones;

    List<Ubicacion> ubicaciones = ViewBag.ubicacion;

    List<Persona> mantenedornotificar = ViewBag.mantenedornotificar;

}


<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" href="/img/icono_gestiondeaverias.png" />
    <link rel="stylesheet" href="~/css/Index.css"/>
    <title>GestionAverias</title>

   

</head>

<body>

    <div class="container-fluid">


        <div class="row fila-primaria-padre ">


            <!-----area del menu-->
            <div class=" col-primaria col-primaria-filtro  col-12 ">


                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">


                    <div class="container-fluid">

                        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon "></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">



                                @if (User.IsInRole("administrador"))
                                {
                                    <li class="nav-item dropdown">

                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-circle-user icono"></i>
                                        </a>


                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <li>


                                                @*Button trigger modal -*@

                                                <a class="dropdown-item" asp-action="Index" asp-controller="Estaciones">

                                                    <div class="d-flex align-items-center">
                                                        <i class="fas fa-solid fa-shop me-1 text-success"> </i><div>Estaciones</div>
                                                    </div>

                                                </a>



                                            </li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>

                                 </li>





                                }


                                <li class="nav-item  me-md-2 ">
                                    <input type="number" name="Ot" id="filtroOt" min="0" class="form-control form-control-sm mt-1
                                            " placeholder="OT" />
                                </li>
                                <li class="nav-item me-md-2  ">
                                    <input type="date" id="filtrofecha" class=" filtrofecha form-control form-control-sm mt-1" onchange="filtrar()" />
                                </li>
                                <li class="nav-item me-md-2">
                                    <select asp-items="@ViewBag.fitroestaciones" class="form-select form-select-sm mt-1"
                                            id="fitroestaciones" onchange="filtrar()"></select>
                                </li>
                                <li class="nav-item me-md-2 ">
                                    <select asp-items="@ViewBag.filtrosubsistema" class="form-select form-select-sm mt-1"
                                            id="filtrosubsistema" onchange="filtrar()"></select>
                                </li>
                                <li class="nav-item me-md-2 ">
                                    <select asp-items="@ViewBag.estadoOTs" class="form-select form-select-sm mt-1"
                                            id="filtroestadoot" onchange="filtrar()"></select>
                                </li>

                                <li class="nav-item me-md-2 ">
                                    <select asp-items="@ViewBag.fitrousuario" class="form-select form-select-sm mt-1"
                                            id="fitrousuario" onchange="filtrar()"></select>
                                </li>
                                <li class="nav-item  pt-1  ">
                                    <a href="#" id="limpiar" class="">
                                        <i class="fa-solid fa-brush limpiar pt-2 mx-3"></i>

                                    </a>

                                </li>

                                <li class="nav-item me-md-2  pt-1 ">
                                    <a asp-action="Logout" asp-controller="Acceso">


                                        <i class="fas fa-regular fa-right-from-bracket salir pt-2 mx-3 "></i>
                                    </a>
                                </li>

                                <li class="nav-item me-md-2  ">
                                    <div class="text-white d-none d-md-block" id="reloj" style="font-size:13px"></div>
                                </li>




                            </ul>
                        </div>
                    </div>
                </nav>


                <!-- Modal -->
                <div class="modal fade" id="Modal-agregar-estaciones" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Estaciones</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form id="formEstaciones" method="post">
                                <div class="modal-body">

                                    <label class="form-label">Nombre</label>
                                    <input id="estacionNombre" class="form-control" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <input type="submit" class="btn btn-primary" value="Agregar">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>


            </div>


            <!---area de la tabla-->
            <div class=" col-primaria col-primaria-tabla col-12">



                <table class="table table-sm table-hover table-bordered text-center  ">

                    <thead class="cabecera-tabla text-white  " style="font-size:14px" id="head_table">

                        <tr>
                            <th>#@ViewBag.conteo</th>
                            <th>@Html.DisplayNameFor(model => model.Ot)</th>
                            <th>@Html.DisplayNameFor(model => model.fechaaveriaGuardarMostrar)</th>
                            <th>@Html.DisplayNameFor(model => model.SubsistemasNombre)</th>
                            <th>@Html.DisplayNameFor(model => model.EstacionesNombre)</th>
                            <th>@Html.DisplayNameFor(model => model.Ubicacion)</th>
                            <th><div class="Columna-descripcion">@Html.DisplayNameFor(model => model.Descripcion)</div></th>
                            <th>@Html.DisplayNameFor(model => model.SistemasNombre)</th>
                            <th>@Html.DisplayNameFor(model => model.CriticidadNombre)</th>
                            <th>@Html.DisplayNameFor(model => model.EstadoOtNombre)</th>
                            <th>@Html.DisplayNameFor(model => model.OperadorReporte)</th>
                            <th>@Html.DisplayNameFor(model => model.CodigoOperadorReporte)</th>
                            <th>@Html.DisplayNameFor(model => model.Fechanotificacion)</th>
                            <th>@Html.DisplayNameFor(model => model.MantenedorNotificar)</th>
                            @*<th>@Html.DisplayNameFor(model => model.MantenedorNotificarCodigo)</th>*@
                            <th>@Html.DisplayNameFor(model => model.Fechainicioguardarmostrar)</th>
                            <th>@Html.DisplayNameFor(model => model.MantenedorReparo)</th>
                            @*<th>@Html.DisplayNameFor(model => model.MantenedorReparoCodigo)</th>*@
                            <th>@Html.DisplayNameFor(model => model.OperadorCierre)</th>
                            <th>@Html.DisplayNameFor(model => model.CodigoOperadorCierre)</th>
                            <th>@Html.DisplayNameFor(model => model.Fechafinalguardarmostrar)</th>
                            <th>@Html.DisplayNameFor(model => model.Comentario)</th>
                            <th>@Html.DisplayNameFor(model => model.UsuariosCodigo)</th>
                            <th>@Html.DisplayNameFor(model => model.UsuariosNombre)</th>
                            <th>Usuario actualizo</th>




                        </tr>
                    </thead>

                    <tbody id="Pintardata">

                        @*@foreach (var item in Model)
                            {
                            <tr>

                                <td>@Html.DisplayFor(model => item.Ot)</td>
                                <td>@Html.DisplayFor(model => item.Fechaaveria)</td>
                                <td>@Html.DisplayFor(model => item.SubsistemasNombre)</td>
                                <td>@Html.DisplayFor(model => item.EstacionesNombre)</td>
                                <td>@Html.DisplayFor(model => item.UbicacionesNombre)</td>
                                <td>@Html.DisplayFor(model => item.Descripcion)</td>
                                <td>@Html.DisplayFor(model => item.SistemasNombre)</td>
                                <td>@Html.DisplayFor(model => item.CriticidadNombre)</td>
                                <td>@Html.DisplayFor(model => item.EstadoOtNombre)</td>
                                <td>@Html.DisplayFor(model => item.OperadorReporteNombre)</td>
                                <td>@Html.DisplayFor(model => item.OperadorReporteCodigo)</td>
                                <td>@Html.DisplayFor(model => item.Fechanotificacion)</td>
                                <td>@Html.DisplayFor(model => item.MantenedorNotificarNombre)</td>
                                <td>@Html.DisplayFor(model => item.MantenedorNotificarCodigo)</td>
                                <td>@Html.DisplayFor(model => item.Fechainicio)</td>
                                <td>@Html.DisplayFor(model => item.MantenedorReparoNombre)</td>
                                <td>@Html.DisplayFor(model => item.MantenedorReparoCodigo)</td>
                                <td>@Html.DisplayFor(model => item.OperadorCierreNombre)</td>
                                <td>@Html.DisplayFor(model => item.OperadorCierreCodigo)</td>
                                <td>@Html.DisplayFor(model => item.Fechafinal)</td>
                                <td>@Html.DisplayFor(model => item.Comentario)</td>
                                <td>@Html.DisplayFor(model => item.UsuariosCodigo)</td>
                                <td>@Html.DisplayFor(model => item.UsuariosNombre)</td>


                            </tr>
                            }*@



                    </tbody>





                </table>



            </div>


            <!-----------area del formuilario--------------->
            <form id="formulario" method="post" class="g-0">


                <div class=" col-primaria col-primaria-reportes col-12 " id="area_averias">

                    <div class="row fila-secundaria " id="divPadre">

                        <!------Registro de averias------>

                        <div class="col-secundaria col-sm-4  col-md-4 border-end border-white border-2 ">


                            <div class="row reporte-averia gx-2 ms-md-3 me-md-2  mx-3 mx-md-0 d-flex justify-content- ">


                                <div class=" col-12 pb-3 pt-2 text-white">
                                    Registro de Averias


                                </div>


                                <div class="col-12 col-md-4 mb-3">


                                    @*<select name="Id" asp-items="@ViewBag.subsistema" class="form-select form-select-sm" id="subsistema"></select>*@

                                    <input class=" subsistema form-control form-control-sm campos_obligatorios" name="Id" list="Listsubsistemas" id="subsistemas" placeholder="Subsistemas">

                                    <datalist id="Listsubsistemas">
                                        @foreach (var item in subsistemas)
                                        {
                                            <option> @item.Nombre</option>
                                        }

                                    </datalist>

                                    <input id="idreportes" class="form-control form-control-sm" hidden />

                                </div>


                                <div class="col-12 col-md-4 mb-3">

                                    @*<select name="Id" asp-items="@ViewBag.estacioes" class="form-select form-select-sm" id="estaciones"></select>*@


                                    <input class="form-control form-control-sm campos_obligatorios" name="Id" list="Listestaciones" id="estaciones" placeholder="Estaciones">

                                    <datalist id="Listestaciones">
                                        @foreach (var item in estaciones)
                                        {
                                            <option> @item.Nombre</option>
                                        }

                                    </datalist>

                                </div>


                                <div class="col-12 col-md-4 mb-3 ">

                                    @*<select name="Id" asp-items="@ViewBag.ubicacion" class="form-select form-select-sm" id="ubicacion"></select>*@

                                    <input class="form-control form-control-sm campos_obligatorios" name="Id" list="Listubicaciones" id="ubicaciones" placeholder="Ubicaciones">

                                    <datalist id="Listubicaciones">
                                        @foreach (var item in ubicaciones)
                                        {
                                            <option> @item.Nombre</option>
                                        }

                                    </datalist>
                                </div>
                                <div class="col-12 col-md-4 ">

                                    <input id="usuario" class="form-control-sm" disabled hidden />

                                </div>



                                <!--ir-->
                                <div class="col-12 mb-2">


                                    <input class="form-control form-control-sm cascada" name="Id" list="listcascada" id="descripcioncascada" placeholder="Selecione un activo">

                                    <datalist id="listcascada">

                                        @*<option value="">Seleccione una descripcion</option>*@

                                    </datalist>
                                </div>



                                @*<div class="col-12 pb-3">

                                        <select name="Id" class="form-select form-select-sm" id="descripcioncascada">

                                            <option value="">Seleccione una descripcion</option>

                                        </select>


                                    </div>*@


                                <div class="col-12 ">

                                    <textarea cols="100" rows="3" class="form-control mb-3 campos_obligatorios" name="" id="descripcion" placeholder="Descripcion de Averia"></textarea>

                                </div>
                                <div class="col-12 col-md-3 mb-2">

                                    <input class="form-control form-control-sm campos_obligatorios" id="codigooperador" placeholder="Cod. Operador" onkeyup="buscaroperadorreporte()">

                                </div>

                                <div class="col-12 col-md-4 mb-2">

                                    <input class="form-control form-control-sm campos_obligatorios" id="nombreoperador" placeholder="nombre">

                                </div>

                                <div class="col-12 col-md-5 mb-3 ">

                                    <input class="form-control form-control-sm campos_obligatorios" id="fechareporte" ondblclick="ObtenerfechaReporte()" maxlength="15" placeholder="Fecha">

                                </div>



                            </div>

                            <div class="row  d-flex justify-content-between  gx-2 ms-md-3 me-md-2  mx-3 mx-md-0  ">

                                <div class="col-4 ">

                                    <input type="checkbox" id="reutilizar">
                                    <label class="text-white" for="reutilizar">Reutilizar</label>

                                </div>

                                <div class="col-4  gx-2  ">

                                    <input type="submit" class="form-control form-control-sm btn btn-sm btn-warning"  value="Reutilizar Registro" id="reutilizarenviar">

                                </div>

                                <div class="col-4  gx-2">

                                    <input type="submit"  class="form-control form-control-sm btn btn-sm btn-success" value="Agregar" id="enviar" >

                                </div>
                            </div>
                            s


                        </div>

                        <!------------------reportes de averias---------------------->

                        <div class=" col-secundaria col-sm-4 col-md-4 border-end border-white border-2">



                            <div class="row gx-md-2 d-flex justify-content-between mx-2 ">

                                <div class="col-12 pb-3 pt-2 text-white ">
                                    Reportes de Averias
                                </div>
                                <div class=" col-12 col-md-5 mb-3 ">
                                    <select name="Id" asp-items="@ViewBag.criticidad" class="form-select form-select-sm campos_obligatorios" id="criticidad"></select>

                                </div>

                                <div class=" col-12 col-md-5 mb-3 ">
                                    <select name="Id" asp-items="@ViewBag.SM" class="form-select form-select-sm campos_obligatorios" id="sistema"></select>

                                </div>

                                <div class="col-12">

                                    <div class="row">
                                        <div class=" col-12 col-md-5 mb-3">
                                            <select name="Id" asp-items="ViewBag.estadoOTs" class="form-select form-select-sm" id="estado"></select>

                                        </div>
                                        <div class=" col-12 col-md-4 mb-3 offset-md-2">

                                            <input type="number" class="form-control form-control-sm" id="ot" placeholder="#OT">

                                        </div>
                                    </div>

                                </div>


                                <div class="col-12 mb-3">

                                    <textarea cols="100" rows="3" class="form-control " name="" id="comentario" placeholder="Comentario"></textarea>

                                </div>

                                <div class="col-12 col-md-5 mb-3">

                                    <input class="form-control form-control-sm" id="fechanotificacion" ondblclick="ObtenerfechaNotificacion()" placeholder="Fecha">

                                </div>

                                <div class="col-12 col-md-5 mb-3">

                                    @*<select name="Id" asp-items="@ViewBag.mantenedor" class="form-select form-select-sm" id="mantenedorreporte"></select>*@

                                    <input class="form-control form-control-sm" name="Id" list="Litsmantenedornotificar" id="mantenedornotificar" placeholder="mantenedor">

                                    <datalist id="Litsmantenedornotificar">

                                        @foreach (var item in mantenedornotificar)
                                        {
                                            <option> @item.Nombre</option>
                                        }

                                    </datalist>
                                </div>

                            </div>

                        </div>

                        <!----------cierre de averias----------------->


                        <div class=" col-secundaria col-12 col-sm-4 ">


                            <div class="row  align-items-center d-flex  justify-content-md-around  mx-2  h-100 ">

                                <div class="col-12  text-white mb-3 ">
                                    Cierre de Averias
                                </div>


                                <div class=" col-12 col-md-5 mb-3 ">

                                    <input class="form-control form-control-sm" placeholder="Fecha inicio" id="fechainicio">
                                </div>

                                <div class=" col-12 col-md-5 mb-3 ">

                                    <input class="form-control form-control-sm" placeholder="Fecha final" id="fechafinal">
                                </div>

                                <div class=" col-12 col-md-5 mb-3 ">

                                    <input class="form-control form-control-sm" placeholder="Codigo OP" id="codigooperadorfinal">
                                </div>

                                <div class=" col-12 col-md-5 mb-3  ">

                                    <input class="form-control form-control-sm" placeholder="Nombre OP" id="nombreoperadorfinal">
                                </div>


                                <div class=" col-12 col-md-5 mb-3 ">


                                    @*<select asp-items="ViewBag.mantenedor" class="form-select form-select-sm" ></select>*@


                                    <input class="form-control form-control-sm" name="Id" list="Litsmantenedorfinal" id="mantenedorcierre" placeholder="Mant. Reparo">

                                    <datalist id="Litsmantenedorfinal">
                                        @foreach (var item in mantenedorreparo)
                                        {
                                            <option> @item.Nombre</option>
                                        }

                                    </datalist>
                                </div>

                                <div class="col-12 mb-3 ">

                                    <div class="row ">

                                        <div class="col-4 ">

                                            <input type="reset" class=" form-control form-control-sm btn btn-sm btn-primary text-white " value="nuevo registro" id="btn_nuevoregistro" />


                                        </div>

                                        <div class="col-2" m>

                                            <input type="color" id="inputcolor" value="#563d7c" title="Choose your color">
                                        </div>


                                    </div>






                                </div>



                            </div>





                        </div>




                    </div>



                </div>


            </form>


        </div>







    </div>

    <script src="https://kit.fontawesome.com/c6f899d35a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

</body>

</html>


<script>

    let conexion = new signalR.HubConnectionBuilder().withUrl("/GesinHub").build();

    conexion.start();


    conexion.on("recibir", () => ListarTodo());



    let ListarTodo = () => {

        let url = "Reportes/Listarasincrono";
        Listardata(url)

    }

    window.onload = function () {
        
        ListarTodo();
       

        let reutilizarenviar = document.getElementById("reutilizarenviar");

        reutilizarenviar.style.display ="none";

       recuperarStyle();

    }
      



    function Fecha(fecha) {

        let date = new Date()



        let dias = date.getDate();
        let meses = date.getMonth() + 1;
        let anios = date.getFullYear();
        let horas = date.getHours();
        let minutos = date.getMinutes();

       

        
        minutos = minutos <= 9 ? "0" + minutos : minutos;
       
        horas = horas <= 9 ? "0" + horas : horas;

        meses = meses <= 9 ? "0" + meses : meses;

        fecha.value = `${dias}/${meses}/${anios} ${horas}:${minutos}`

    }

    function ObtenerfechaReporte() {

        let fechareportes = document.getElementById("fechareporte");

        fechareportes.classList.remove("error");

        Fecha(fechareportes)

    }


    function ObtenerfechaNotificacion() {

        let fechanotificar = document.getElementById("fechanotificacion");

        Fecha(fechanotificar)

    }

    let fechainicio = document.getElementById("fechainicio");

    fechainicio.ondblclick = function (fechainicio) {

        let fecha = document.getElementById("fechainicio");
        Fecha(fecha)


    }

    let fechafinal = document.getElementById("fechafinal");


    fechafinal.addEventListener("dblclick", function () {

        let fecha = document.getElementById("fechafinal");

        Fecha(fecha);
    })


    function Operador(codigooperador, nombreoperador) {



             let url = "Reportes/Operador/?op=" + codigooperador;

                 fetch(url)
                .then(res => res.json())
                .then(data => {

              

                    nombreoperador.value = "";
                    nombreoperador.value = data[0].value;

                })


    }


    function buscaroperadorreporte() {

        let codOperador = document.getElementById("codigooperador").value;
        let nomOperador = document.getElementById("nombreoperador");

        Operador(codOperador, nomOperador);


      

    }

    function buscaroperadorcierre() {

        let codOperador = document.getElementById("codigooperadorfinal");
        let nomOperadorfinal = document.getElementById("nombreoperadorfinal");

        Operador(codOperador, nomOperadorfinal)

    }


    let codOperadorfinal = document.getElementById("codigooperadorfinal");

    codOperadorfinal.onkeyup = function () {

        let codigooperadorfinal = document.getElementById("codigooperadorfinal").value
        let nombreoperadorfinal = document.getElementById("nombreoperadorfinal");

        Operador(codigooperadorfinal, nombreoperadorfinal)



    }






    //const check = document.getElementById("reutilizar");


    //    function chekiar(){

           

    //        let idreportes = Number(document.getElementById("idreportes").value);

        

    //        if (check.checked && idreportes >=0)
    //        {

    //          // document.getElementById("enviar").value = " Agregar";
               
    //           //llamamos la funcion buscarot para que verifique si ya existe este nuemero  de ot en ese campo y ponerla duplicada
    //           // o dejarla como esta
    //           EstadoRegistro();
                        
    //        }
                

    //        //else{

                

    //        //        if(idreportes == 0){

    //        //           document.getElementById("enviar").value = "agregar";
    //        //        }

    //        //        else{

    //        //            document.getElementById("enviar").value = "Actualizar";
    //        //        }
                    
                     
    //        //}



    //    }

    //check.addEventListener("change", chekiar);





    const form = document.getElementById("formulario");


    function CrearEditarReportes(e) {
       
             e.preventDefault();
            
             console.log(e.submitter.id)

          
            
            let idreportes = Number(document.getElementById("idreportes").value); 
            let subsistemas = document.getElementById("subsistemas");
            let estaciones = document.getElementById("estaciones");
            let ubicaciones = document.getElementById("ubicaciones");
            let descripcion = document.getElementById("descripcion");
            let codigooperador = document.getElementById("codigooperador");
            let nombreoperador = document.getElementById("nombreoperador");

            let fechareportes = document.getElementById("fechareporte");
            let criticidad = document.getElementById("criticidad");
            let sistema = document.getElementById("sistema");
            let estadoot = document.getElementById("estado");
            let ot = Number(document.getElementById("ot").value);
            let comentario = document.getElementById("comentario").value;
            let fechanotificacion = document.getElementById("fechanotificacion").value;
            let mantenedornotificar = document.getElementById("mantenedornotificar").value;
            let fechainicio = document.getElementById("fechainicio").value;
            let fechafinal = document.getElementById("fechainicio").value;
            let nombreoperadorfinal = document.getElementById("nombreoperadorfinal").value;
            let codigooperadorfinal =  document.getElementById("codigooperadorfinal").value;
            let mantenedorcierre = document.getElementById("mantenedorcierre").value;
            let usuario = Number( document.getElementById("usuario").value);
                document.getElementById("ot").style.backgroundColor = "";
           
             subsistemas.value == ""? subsistemas.classList.add("error"): subsistemas.classList.remove("error") ;
             estaciones.value == ""? estaciones.classList.add("error"): estaciones.classList.remove("error");
             ubicaciones.value == ""? ubicaciones.classList.add("error"): ubicaciones.classList.remove("error");
             descripcion.value == ""? descripcion.classList.add("error"): descripcion.classList.remove("error");
             codigooperador.value == "" ? codigooperador.classList.add("error") : codigooperador.classList.remove("error");
             nombreoperador.value == "" ? nombreoperador.classList.add("error") : nombreoperador.classList.remove("error");
             Number( fechareportes.value) == 0? fechareportes.classList.add("error"): fechareportes.classList.remove("error");
             criticidad.value == ""? criticidad.classList.add("error"): criticidad.classList.remove("error");
             sistema.value =="" ? sistema.classList.add("error"): sistema.classList.remove("error");

             //con esto decimos que si el boton que disparo el evento submit o enviar el formulario fue
             // el btn reutilizar Registro, cuanto tenemos un registro cargado para actualizar
             // entoces este no se actualizara si no se creara uno nuevo
             if(e.submitter.id =="reutilizarenviar"){

                 idreportes = 0;
                 alert(idreportes);
            

             }

            



                //const check = document.getElementById("reutilizar");

                

                //if(check.checked){

                //    idreportes = 0;

                     

                //}

            // cuando se aya enviado el formulario entonces me valida nuevamente los campos
            //esto es para que una vez esten lleno se quite en automatico el color rojo sin tener que enviar
            //si no hicieramos esto aunquie llenemos los campos se quedarian en rojo hasta enviar otra vez el form
            if (e.isTrusted) {

                //traemos el elemento padre
                let divPadre = document.getElementById("divPadre");

                //traemos los elementos hijos y lo convertimos en un array
                let hijos = Array.prototype.slice.apply(document.getElementsByClassName("campos_obligatorios"));

                //creamos la funcion para el evento change que disparara un hijo
                function cambio(e) {

                    //aqui comprobamos si el evento fue disparado por un elemento que es obligatorio
                    if (e.target.classList.contains("campos_obligatorios")) {

                        //aqui gardamos en una variable el indice del elemento que disporo el evento
                        let index = hijos.indexOf(e.target)

                        //aqui volovemos a verificar y decimos que si el elemento que disparo el evento tiene un valor le quitela clase error
                        //y si el elemento no contiene ningun valor me le siga aplicando la clase error
                        e.target.value != "" ? hijos[index].classList.remove("error") : hijos[index].classList.add("error");

                        //aqui verificamos que el el elemento que disparo el evento fue el que tiene el id codigooperador
                        //de ser asi entonces tambien le quitamos la clase error a nombre operador
                        //ya que estos campos son combinados
                        if (e.target.id == "codigooperador") {

                            nomoperador.classList.remove("error");
                        }

                    }

                }

                //eventeo change aplicado al padre pero los hijos son quienes lo dispararan
                divPadre.addEventListener("change", cambio);

                

            }

            

        let url ="Reportes/CrearEditarReportes/reporte"

        fetch(url, {
            method: 'POST',
            body: JSON.stringify({

                id:idreportes,
                subsistemasNombre: subsistemas.value,
                estacionesNombre: estaciones.value,
                ubicacion: ubicaciones.value,
                descripcion: descripcion.value,
                operadorReporte: nombreoperador.value,
                codigoOperadorReporte: codigooperador.value,
                fechaaveriaGuardarMostrar: fechareportes.value,
                idCriticidad: Number( criticidad.value),
                idSistemas: Number( sistema.value),
                idEstadoOt: Number( estadoot.value),
                ot:ot,
                comentario: comentario,
                fechanotificacionguardarmostrar: fechanotificacion,
                mantenedorNotificar: mantenedornotificar,
                fechainicioguardarmostrar: fechainicio,
                fechafinalguardarmostrar: fechafinal,
                operadorCierre: nombreoperadorfinal,
                codigoOperadorCierre: codigooperadorfinal,
                mantenedorReparo: mantenedorcierre,
                idUsuarios: usuario

                

            }),
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(res => res.json())
            .then(data => {

                //se creo un registro
                if (data == 1) {

                   

                    let url = "Reportes/Listarasincrono";
                    //llamamos al metodo listar para que vuelva a cargar la tabla
                    Listardata(url);




                    Swal.fire({
                        position: 'center-end',
                        icon: 'success',
                        title: 'Reporte agregado satisfactoriamente',
                        showConfirmButton: false,
                        timer: 1000
                    })


                    const check = document.getElementById("reutilizar")

                    // si el chekbox no esta chekiado entonces resetiamos/ limpiamos el formulario
                    if (!check.checked) {

                       form.reset();

                    }

                }
                // se actualizo un registro
                else if (data == 2) {



                    let url = "Reportes/Listarasincrono";
                    //llamamos al metodo listar para que vuelva a cargar la tabla
                    Listardata(url);



                    Swal.fire({
                        position: 'center-end',
                        icon: 'success',
                        title: 'Reporte Actualizado satisfactoriamente',
                        showConfirmButton: false,
                        timer: 1000
                    })


                    

                  


                    const check = document.getElementById("reutilizar")


                    if (!check.checked) {
                        
                        form.reset();
                        document.getElementById("enviar").value = "Agregar";
                        reutilizarenviar.style.display ="none";

                    }

                }



            })



    }

    form.addEventListener("submit", CrearEditarReportes);


    // Buscar la data y cargarla al formulario para ediarla

    function BuscarEditar(idreporte) {


       
        let subsistemas = document.getElementById("subsistemas");
        let estaciones = document.getElementById("estaciones");
        let ubicaciones = document.getElementById("ubicaciones");
        let descripcion = document.getElementById("descripcion");
        let codigooperador = document.getElementById("codigooperador");
        let fechareportes = document.getElementById("fechareporte");
        let criticidad = document.getElementById("criticidad");
        let sistema = document.getElementById("sistema");
        let nombreoperador = document.getElementById("nombreoperador");
       


        subsistemas.classList.remove("error");
        estaciones.classList.remove("error");
        ubicaciones.classList.remove("error");
        descripcion.classList.remove("error");
        codigooperador.classList.remove("error");
        fechareportes.classList.remove("error");
        criticidad.classList.remove("error");
        sistema.classList.remove("error");
        nombreoperador.classList.remove("error");


         reutilizarenviar.style.display ="block";

        
        let url = "Reportes/BuscarEditar/?id=" + idreporte;

        fetch(url)
            .then(res => res.json())
            .then(data => {
                alert(JSON.stringify(data))

                 
             
                let Idreportes = document.getElementById("idreportes").value = data.id;
                let subsistemas = document.getElementById("subsistemas").value = data.subsistemasNombre;
                let estaciones = document.getElementById("estaciones").value = data.estacionesNombre;
                let ubicaciones = document.getElementById("ubicaciones").value = data.ubicacion;
                let descripcion = document.getElementById("descripcion").value = data.descripcion;
                let codigooperador = document.getElementById("codigooperador").value = data.codigoOperadorReporte;
                let nombreoperador = document.getElementById("nombreoperador").value = data.operadorReporte;
                let fechareportes = document.getElementById("fechareporte").value = data.fechaaveriaGuardarMostrar;
                let criticidad = document.getElementById("criticidad").value = data.idCriticidad;
                let sistema = document.getElementById("sistema").value = data.idSistemas;
                let estadoot = document.getElementById("estado").value = data.idEstadoOt;
                let ot = document.getElementById("ot").value = data.ot;
                let comentario = document.getElementById("comentario").value = data.comentario;
                let fechanotificacion = document.getElementById("fechanotificacion").value = data.fechanotificacionguardarmostrar;
                let mantenedornotificar = document.getElementById("mantenedornotificar").value = data.mantenedorNotificar;
                let fechainicio = document.getElementById("fechainicio").value = data.fechainicioguardarmostrar;
                let fechafinal = document.getElementById("fechafinal").value = data.fechafinalguardarmostrar;
                let codigooperadorfinal = document.getElementById("codigooperadorfinal").value = data.operadorCierre;
                let nombreoperadorfinal = document.getElementById("nombreoperadorfinal").value = data.codigoOperadorCierre;
                let mantenedorcierre = document.getElementById("mantenedorcierre").value = data.mantenedorReparo;
                let usuario = document.getElementById("usuario").value = data.idUsuarios;
                
                //llamamos el metodo buscarot para que al cargar un registro si esta esta duplicada me cargue con color gris
                // y si no esta duplicada gargue en color blanco
                //  de no llamar este metodo para que recalcule no me carga el gris y si pongo el gris al cargar una sin duplicidad despues de cargar una duplicadad me le pone el gris

               EstadoRegistro();
               
                

               document.getElementById("enviar").value = "Actualizar";
               

               // if (check.checked) {

               //  check.checked = false;
               //}

               
            })




     }

    //funcion para lista en la misma se cambia de color la fila de la tabla segun el estado de la ot

         function Listardata(url) {

      

            fetch(url)
            .then(res => res.json())
            .then(data => {

               

                let Pintardata = document.getElementById("Pintardata");

               let filasTabla = "";

                for (var i = 0; i < data.length; i++) {

                    let conteo = 1;

                    // si de cierre viene null aqui le decimos que sea igual a vacio,
                  // esto mismo lo hacemos en el backend para otros campos
                    if (data[i].operadorCierreNombre == null) {

                        data[i].operadorCierreNombre = "";

                    }


                    filasTabla += `

                        ${data[i].estadoOtNombre == "Creada" ?


                            `

                                <tr style ="background-color:#F8F2CD; font-size:14px" ondblclick="BuscarEditar(${data[i].id})">

                                    <td>${conteo + i}</td>
                                    <td>${data[i].ot}</td>
                                    <td>${data[i].fechaaveriaGuardarMostrar}</td>
                                    <td>${data[i].subsistemasNombre}</td>
                                    <td>${data[i].estacionesNombre}</td>
                                    <td>${data[i].ubicacion}</td>
                                    <td>${data[i].descripcion}</td>
                                    <td>${data[i].sistemasNombre}</td>

                                        
                                            ${ data[i].criticidadNombre == "Bajo Impacto" ?

                                            `
                                                   <td style ="background-color:#8dff43">${data[i].criticidadNombre}</td>
                                            `
                                             :
                                            `
                                                <td style ="background-color:#CE2B08">${data[i].criticidadNombre}</td>
                                            
                                            `

                                            }
                                        
                                        

                                    
                                    <td>${data[i].estadoOtNombre}</td>
                                    <td>${data[i].operadorReporte}</td>
                                    <td>${data[i].codigoOperadorReporte}</td>

                                    <td>${data[i].fechanotificacionguardarmostrar}</td>
                                    <td>${data[i].mantenedorNotificar}</td>


                                    <td>${data[i].fechainicioguardarmostrar}</td>
                                    <td>${data[i].mantenedorReparo}</td>


                                    <td>${data[i].operadorCierre}</td>
                                    <td>${data[i].codigoOperadorCierre}</td>
                                    <td>${data[i].fechafinalguardarmostrar}</td>
                                    <td>${data[i].comentario}</td>
                                    <td>${data[i].usuariosCodigo}</td>
                                    <td>${data[i].usuariosNombre}</td>
                                    <td>${data[i].usuarioActualizoNombre}</td>



                                </tr>

                            `

                            : data[i].estadoOtNombre == "Reportada" ?


                            `

                                     <tr style ="background-color:#FFCBCB;  font-size:14px" ondblclick="BuscarEditar(${data[i].id})">

                                      <td>${conteo + i}</td>
                                    <td>${data[i].ot}</td>
                                    <td>${data[i].fechaaveriaGuardarMostrar}</td>
                                    <td>${data[i].subsistemasNombre}</td>
                                    <td>${data[i].estacionesNombre}</td>
                                    <td>${data[i].ubicacion}</td>
                                    <td>${data[i].descripcion}</td>
                                    <td>${data[i].sistemasNombre}</td>

                                        
                                            ${ data[i].criticidadNombre == "Bajo Impacto" ?

                                            `
                                                   <td style ="background-color:#8dff43">${data[i].criticidadNombre}</td>
                                            `
                                             :
                                            `
                                                <td style ="background-color:#CE2B08">${data[i].criticidadNombre}</td>
                                            
                                            `

                                            }
                                        
                                        

                                    
                                    <td>${data[i].estadoOtNombre}</td>
                                    <td>${data[i].operadorReporte}</td>
                                    <td>${data[i].codigoOperadorReporte}</td>

                                    <td>${data[i].fechanotificacionguardarmostrar}</td>
                                    <td>${data[i].mantenedorNotificar}</td>


                                    <td>${data[i].fechainicioguardarmostrar}</td>
                                    <td>${data[i].mantenedorReparo}</td>


                                    <td>${data[i].operadorCierre}</td>
                                    <td>${data[i].codigoOperadorCierre}</td>
                                    <td>${data[i].fechafinalguardarmostrar}</td>
                                    <td>${data[i].comentario}</td>
                                    <td>${data[i].usuariosCodigo}</td>
                                    <td>${data[i].usuariosNombre}</td>
                                    <td>${data[i].usuarioActualizoNombre}</td>
                                </tr>
                                
                            `

                                : data[i].estadoOtNombre == "Creada Reportada" ?


                            `

                                  <tr style ="background-color:#D3F8FC;  font-size:14px" ondblclick="BuscarEditar(${data[i].id})">

                                     <td>${conteo + i}</td>
                                    <td>${data[i].ot}</td>
                                    <td>${data[i].fechaaveriaGuardarMostrar}</td>
                                    <td>${data[i].subsistemasNombre}</td>
                                    <td>${data[i].estacionesNombre}</td>
                                    <td>${data[i].ubicacion}</td>
                                    <td>${data[i].descripcion}</td>
                                    <td>${data[i].sistemasNombre}</td>

                                        
                                            ${ data[i].criticidadNombre == "Bajo Impacto" ?

                                            `
                                                   <td style ="background-color:#8dff43">${data[i].criticidadNombre}</td>
                                            `
                                             :
                                            `
                                                <td style ="background-color:#CE2B08">${data[i].criticidadNombre}</td>
                                            
                                            `

                                            }
                                        
                                        

                                    
                                    <td>${data[i].estadoOtNombre}</td>
                                    <td>${data[i].operadorReporte}</td>
                                    <td>${data[i].codigoOperadorReporte}</td>

                                    <td>${data[i].fechanotificacionguardarmostrar}</td>
                                    <td>${data[i].mantenedorNotificar}</td>


                                    <td>${data[i].fechainicioguardarmostrar}</td>
                                    <td>${data[i].mantenedorReparo}</td>


                                    <td>${data[i].operadorCierre}</td>
                                    <td>${data[i].codigoOperadorCierre}</td>
                                    <td>${data[i].fechafinalguardarmostrar}</td>
                                    <td>${data[i].comentario}</td>
                                    <td>${data[i].usuariosCodigo}</td>
                                    <td>${data[i].usuariosNombre}</td>
                                    <td>${data[i].usuarioActualizoNombre}</td>
                                </tr>
                                
                            `

                                : data[i].estadoOtNombre == "Cerrada" ?


                            `

                                  <tr style ="background-color:#CEF8CD;  font-size:14px" ondblclick="BuscarEditar(${data[i].id})">

                                              <td>${conteo + i}</td>
                                        <td>${data[i].ot}</td>
                                        <td>${data[i].fechaaveriaGuardarMostrar}</td>
                                        <td>${data[i].subsistemasNombre}</td>
                                        <td>${data[i].estacionesNombre}</td>
                                        <td>${data[i].ubicacion}</td>
                                        <td>${data[i].descripcion}</td>
                                        <td>${data[i].sistemasNombre}</td>


                                                ${data[i].criticidadNombre == "Bajo Impacto" ?

                                            `
                                                       <td style ="background-color:#8dff43">${data[i].criticidadNombre}</td>
                                                `
                                            :
                                            `
                                                    <td style ="background-color:#CE2B08">${data[i].criticidadNombre}</td>

                                                `

                                        }




                                        <td>${data[i].estadoOtNombre}</td>
                                        <td>${data[i].operadorReporte}</td>
                                        <td>${data[i].codigoOperadorReporte}</td>

                                        <td>${data[i].fechanotificacionguardarmostrar}</td>
                                        <td>${data[i].mantenedorNotificar}</td>


                                        <td>${data[i].fechainicioguardarmostrar}</td>
                                        <td>${data[i].mantenedorReparo}</td>


                                        <td>${data[i].operadorCierre}</td>
                                        <td>${data[i].codigoOperadorCierre}</td>
                                        <td>${data[i].fechafinalguardarmostrar}</td>
                                        <td>${data[i].comentario}</td>
                                        <td>${data[i].usuariosCodigo}</td>
                                        <td>${data[i].usuariosNombre}</td>
                                        <td>${data[i].usuarioActualizoNombre}</td>
                                </tr>
                                
                            `

                                : data[i].estadoOtNombre == "Duplicada" ?


                            `

                                 <tr style ="background-color:#CECECE;  font-size:14px" ondblclick="BuscarEditar(${data[i].id})">

                                         <td>${conteo + i}</td>
                                        <td>${data[i].ot}</td>
                                        <td>${data[i].fechaaveriaGuardarMostrar}</td>
                                        <td>${data[i].subsistemasNombre}</td>
                                        <td>${data[i].estacionesNombre}</td>
                                        <td>${data[i].ubicacion}</td>
                                        <td>${data[i].descripcion}</td>
                                        <td>${data[i].sistemasNombre}</td>


                                                ${data[i].criticidadNombre == "Bajo Impacto" ?

                                                `
                                                       <td style ="background-color:#8dff43">${data[i].criticidadNombre}</td>
                                                `
                                                :
                                                `
                                                    <td style ="background-color:#CE2B08">${data[i].criticidadNombre}</td>

                                                `

                                            }




                                        <td>${data[i].estadoOtNombre}</td>
                                        <td>${data[i].operadorReporte}</td>
                                        <td>${data[i].codigoOperadorReporte}</td>

                                        <td>${data[i].fechanotificacionguardarmostrar}</td>
                                        <td>${data[i].mantenedorNotificar}</td>


                                        <td>${data[i].fechainicioguardarmostrar}</td>
                                        <td>${data[i].mantenedorReparo}</td>


                                        <td>${data[i].operadorCierre}</td>
                                        <td>${data[i].codigoOperadorCierre}</td>
                                        <td>${data[i].fechafinalguardarmostrar}</td>
                                        <td>${data[i].comentario}</td>
                                        <td>${data[i].usuariosCodigo}</td>
                                        <td>${data[i].usuariosNombre}</td>
                                        <td>${data[i].usuarioActualizoNombre}</td>

                                </tr>
                            `

                               : data[i].estadoOtNombre == "Falsa Averia" ?


                            `

                                 <tr style ="background-color:#F3A9FF;  font-size:14px" ondblclick="BuscarEditar(${data[i].id})">

                                                  <td>${conteo + i}</td>
                                            <td>${data[i].ot}</td>
                                            <td>${data[i].fechaaveriaGuardarMostrar}</td>
                                            <td>${data[i].subsistemasNombre}</td>
                                            <td>${data[i].estacionesNombre}</td>
                                            <td>${data[i].ubicacion}</td>
                                            <td>${data[i].descripcion}</td>
                                            <td>${data[i].sistemasNombre}</td>


                                                    ${data[i].criticidadNombre == "Bajo Impacto" ?

                                                    `
                                                           <td style ="background-color:#8dff43">${data[i].criticidadNombre}</td>
                                                    `
                                                    :
                                                    `
                                                        <td style ="background-color:#CE2B08">${data[i].criticidadNombre}</td>

                                                    `

                                                }




                                            <td>${data[i].estadoOtNombre}</td>
                                            <td>${data[i].operadorReporte}</td>
                                            <td>${data[i].codigoOperadorReporte}</td>

                                            <td>${data[i].fechanotificacionguardarmostrar}</td>
                                            <td>${data[i].mantenedorNotificar}</td>


                                            <td>${data[i].fechainicioguardarmostrar}</td>
                                            <td>${data[i].mantenedorReparo}</td>


                                            <td>${data[i].operadorCierre}</td>
                                            <td>${data[i].codigoOperadorCierre}</td>
                                            <td>${data[i].fechafinalguardarmostrar}</td>
                                            <td>${data[i].comentario}</td>
                                            <td>${data[i].usuariosCodigo}</td>
                                            <td>${data[i].usuariosNombre}</td>
                                            <td>${data[i].usuarioActualizoNombre}</td>
                                </tr>
                                
                            `


                                : data[i].estadoOtNombre == "Reutilizar" ?


                            `

                                 <tr style ="background-color:#FDFF8B;  font-size:14px" ondblclick="BuscarEditar(${data[i].id})">

                                    
                                              <td>${conteo + i}</td>
                                        <td>${data[i].ot}</td>
                                        <td>${data[i].fechaaveriaGuardarMostrar}</td>
                                        <td>${data[i].subsistemasNombre}</td>
                                        <td>${data[i].estacionesNombre}</td>
                                        <td>${data[i].ubicacion}</td>
                                        <td>${data[i].descripcion}</td>
                                        <td>${data[i].sistemasNombre}</td>


                                                ${data[i].criticidadNombre == "Bajo Impacto" ?

                                            `
                                                       <td style ="background-color:#8dff43">${data[i].criticidadNombre}</td>
                                                `
                                            :
                                            `
                                                    <td style ="background-color:#CE2B08">${data[i].criticidadNombre}</td>

                                                `

                                        }




                                        <td>${data[i].estadoOtNombre}</td>
                                        <td>${data[i].operadorReporte}</td>
                                        <td>${data[i].codigoOperadorReporte}</td>

                                        <td>${data[i].fechanotificacionguardarmostrar}</td>
                                        <td>${data[i].mantenedorNotificar}</td>


                                        <td>${data[i].fechainicioguardarmostrar}</td>
                                        <td>${data[i].mantenedorReparo}</td>


                                        <td>${data[i].operadorCierre}</td>
                                        <td>${data[i].codigoOperadorCierre}</td>
                                        <td>${data[i].fechafinalguardarmostrar}</td>
                                        <td>${data[i].comentario}</td>
                                        <td>${data[i].usuariosCodigo}</td>
                                        <td>${data[i].usuariosNombre}</td>
                                        <td>${data[i].usuarioActualizoNombre}</td>
                                </tr>
                                
                            `


                                :
                                                    
                            `

                                  <tr style ="background-color:#FFFF;  font-size:14px" ondblclick="BuscarEditar(${data[i].id})">

                                    
                                              <td>${conteo + i}</td>
                                        <td>${data[i].ot}</td>
                                        <td>${data[i].fechaaveriaGuardarMostrar}</td>
                                        <td>${data[i].subsistemasNombre}</td>
                                        <td>${data[i].estacionesNombre}</td>
                                        <td>${data[i].ubicacion}</td>
                                        <td>${data[i].descripcion}</td>
                                        <td>${data[i].sistemasNombre}</td>


                                                ${data[i].criticidadNombre == "Bajo Impacto" ?

                                            `
                                                       <td style ="background-color:#8dff43">${data[i].criticidadNombre}</td>
                                                `
                                            :
                                            `
                                                    <td style ="background-color:#CE2B08">${data[i].criticidadNombre}</td>

                                                `

                                        }




                                        <td>${data[i].estadoOtNombre}</td>
                                        <td>${data[i].operadorReporte}</td>
                                        <td>${data[i].codigoOperadorReporte}</td>

                                        <td>${data[i].fechanotificacionguardarmostrar}</td>
                                        <td>${data[i].mantenedorNotificar}</td>


                                        <td>${data[i].fechainicioguardarmostrar}</td>
                                        <td>${data[i].mantenedorReparo}</td>


                                        <td>${data[i].operadorCierre}</td>
                                        <td>${data[i].codigoOperadorCierre}</td>
                                        <td>${data[i].fechafinalguardarmostrar}</td>
                                        <td>${data[i].comentario}</td>
                                        <td>${data[i].usuariosCodigo}</td>
                                        <td>${data[i].usuariosNombre}</td>
                                        <td>${data[i].usuarioActualizoNombre}</td>
                                </tr>
                                
                           `
                       }

                       

                          
                    `

                        
                     

                }

                Pintardata.innerHTML = filasTabla;

                 })




        }



    //funcion para que al filtrar por ot cuando se presione entre se realize el filtrado

   
        function presionar_tecla(e){


            let otfiltro = document.getElementById("filtroOt").value;

            let obtener_tecla = e.keyCode; // tambien puedo usar event

                //aqui decimos que si la tecla presionada fue la tecla enter me ejecute el codigo dentro
                    if (obtener_tecla == 13) {

                        //este codigo me enviar a realizar el filtro
                        let url = "Reportes/Listarasincrono/?Ot="+ otfiltro;

                        Listardata(url);
                };

   
        }


        let otfiltro = document.getElementById("filtroOt");

        //aqui le aplicamos que al presionar la tecla se ejecute la funcion obtener_tecla
        otfiltro.onkeydown  = presionar_tecla;
  
   
       
    //--------funcion para filtrar---------------------------

        function filtrar (){

    
            let estaciones =  document.getElementById("fitroestaciones").value;
            let subsistemas =  document.getElementById("filtrosubsistema").value;
            let fecha = document.getElementById("filtrofecha").value;
            let estadoot = document.getElementById("filtroestadoot").value;
            let usuario = document.getElementById("fitrousuario").value;

            alert(usuario)
            
            let url = "Reportes/Listarasincrono/?IdEstacion=" + estaciones + "&IdSubsistema=" + subsistemas + "&fechaaveriaGuardarMostrar=" + fecha
                + "&IdEstadoOt=" + estadoot + "&IdUsuarios=" + usuario;

            Listardata(url)


        }


 //------------funcion para mostrar la fecha y hora --------------------
        function reloj() {

            let mostrarreloj = document.getElementById("reloj")

            let fecha = new Date();

            let dias = fecha.getDate();

            //le sumams uno para obtener el mes actual ya que los meses tienen indice y comienzan por el cero
            let meses = fecha.getMonth() + 1;
            let anios = fecha.getFullYear();
            let horas = fecha.getHours();
            let minutos = fecha.getMinutes();
            let segundos = fecha.getSeconds();



            segundos = (segundos <= 9 ? "0" + segundos : segundos);
            minutos = minutos <= 9 ? "0" + minutos : minutos;

            
            horas =  horas ==00 ? horas +12 : horas;

            //le restamos 12 para convertir el horario de 12 horas ya que viene en 24
            horas =  horas >=13 ? horas -12 : horas;
            horas = horas <= 9 ? "0" + horas : horas;

            meses = meses <= 9 ? "0" + meses : meses;



            mostrarreloj.innerHTML = `${dias}/${meses}/${anios} <br> ${horas}:${minutos}:${segundos}`

        }

        //lo que actualiza la hora cada segundo
        setInterval(reloj,1000)



        //-----funcion para llenar el campo descripcion cascada-----------------

        const subsistemacascada = document.getElementById("subsistemas");

      function descripcionCascada(){
            

           const subsistemas = document.getElementById("subsistemas");

           

            if (subsistemas.value != "") {


           

                let url = "/Reportes/Descripcion/?subsistema=" + subsistemas.value;
                fetch(url)
                    .then(res => res.json())
                    .then(data => {
                       
                        let listcascada = document.getElementById("listcascada");

                        let opcion = "";
                      
                        for (let i = 0; i < data.length; i++) {

                            opcion +=`

                                <option>${data[i].value}</option>
                            
                                    
                            `
                           
                          // Element = document.createElement("option");

                          // let valor = document.createTextNode(`${data[i].value}`);
                           
                          // Element.appendChild(valor);

                          //listcascada.appendChild(Element);
                       
                        }
    
                        
                         listcascada.innerHTML = opcion;

                    })


            }

       }

        subsistemacascada.addEventListener("change", descripcionCascada)



        

        //se ejecuta cuando hacemos un cambio en el campo mantenedor reporte si seleccionamos uno me cambia el estado a reportada
        const mantenedornotificar = document.getElementById("mantenedornotificar");

    function mantenedorestado() {

        EstadoRegistro();
    }
        mantenedornotificar.addEventListener("keyup", mantenedorestado)



    //---------funcion para cambiar los estasdo de la ot segun algunas condiciones

    const ot = document.getElementById("ot");


    const EstadoRegistro = () => {


        
       
        const otvalue = Number( document.getElementById("ot").value);

        const url = "Reportes/BuscarOt/?ot=" + otvalue;

        fetch(url)
            .then(res => res.json())
            .then(data => {

              
                // si existen ordenes con el mismo numero de ot entonces me cambia a estado duplicada y pone el color gris
                if (data >= 1) {

                    const ot = document.getElementById("ot");
                      const estadoot = document.getElementById("estado");
                      const codigooperadorfinal =  document.getElementById("codigooperadorfinal");
                       ot.style.backgroundColor = "grey";

                    if(codigooperadorfinal.value !="" ){

                        //cerrada
                        estadoot.value = 5;
                        

                    }
                    else{

                       
                        // duplicada
                        estadoot.value = 7;
                    }

                   


                }
                // se ejecuta si no existen reportes con ot duplicada

                else if(data == 0) {
                    
                    const mantenedornotificar = document.getElementById("mantenedornotificar");
                    const estadoot = document.getElementById("estado");
                    const codigooperadorfinal =  document.getElementById("codigooperadorfinal");
                    
                     
                     ot.style.backgroundColor = "";

                     //aqui le decimos que si existe algun valor en el campo ot y no esta duplicado me cambie el estado a creada reportada
                    if (ot.value != "" && mantenedornotificar.value == "" && codigooperadorfinal.value == "") {

                        //creada
                        estadoot.value = 1;

                       
                    }


                    

                    else if (ot.value == "" && mantenedornotificar.value !="" && codigooperadorfinal.value =="") {

                        //reportada
                        estadoot.value = 2;
                        
                    }

                    else if (ot.value !="" && mantenedornotificar.value !="" && codigooperadorfinal.value ==""){
                        
                        //creada reportada
                        estadoot.value = 3;

                    }

                    else if (codigooperadorfinal.value != "" && ot.value != "" && mantenedornotificar.value != "") {

                        //cerrada
                        estadoot.value = 5;

                    }
                  
                    // si no existen valores en el campo ot evaluamos nuevamente
                    else {
                       
                        const estadoot = document.getElementById("estado");

                        //sin estado
                        estadoot.value = "";
                    }

                    
                }

            })

    }

    ot.addEventListener('keyup', EstadoRegistro)

    let codigooperadorfinal =  document.getElementById("codigooperadorfinal");


    //funcion para disparar el evento de cerrar OT este asu vez sipara el de estadoregistro

    let EstadoOTCerrado = () => EstadoRegistro();

   codigooperadorfinal.addEventListener('keyup', EstadoOTCerrado);

    //-----------funcion para Limpiar los campos del filtrado-----------------------

    const btnlimpiar = document.getElementById("limpiar")

    function LimpiarFiltros() {

        document.getElementById("filtroOt").value = "";
        document.getElementById("filtrofecha").value = "";
        document.getElementById("fitroestaciones").value = "";
        document.getElementById("filtrosubsistema").value = "";
        document.getElementById("filtroestadoot").value = "";
        document.getElementById("fitrousuario").value = "";


        let url = "Reportes/Listarasincrono"
        Listardata(url)
       
        LimpiarFiltros
    }

    btnlimpiar.addEventListener("click", LimpiarFiltros);



    // -------para auto completar la descripcion de la averia-------------------


    const descripcioncascada = document.getElementById("descripcioncascada");

    const obtenerdescricion = () => {

        const descripcioncascadas = document.getElementById("descripcioncascada").value;

        document.getElementById("descripcion").value = descripcioncascadas;

    }

    descripcioncascada.addEventListener('change', obtenerdescricion);



    //funcion para cambiar el fondo de color en el area de averias reportes
    //esta misma guarda en Localstore el color obtenido

    //let inputColor = document.getElementById("inputcolor");

    //function guardarLocalstore() {

    //    let obtenerColor = inputColor.value;

    //    localStorage.setItem("color", obtenerColor)

    //    let area_averias = document.getElementById("area_averias");

    //    area_averias.style.backgroundColor = `${obtenerColor}`;

    //}

    //inputColor.addEventListener("change", guardarLocalstore)




    //funcion que recupera el color de localstore y lo muestra en el are de averias
    //esta funcion es llamada en el envento onload que se ejecuta al cargarse el contenido
    //function ObtenerLocalstore() {


    //    let colorRecuperado = localStorage.getItem("color")

    //    let area_averias = document.getElementById("area_averias");

    //    area_averias.style.backgroundColor = `${colorRecuperado}`;
    //}



    let inputColor = document.getElementById("inputcolor");
   

    function guardarStyle() {

        let obtenerColor = inputColor.value;


        const url = "/Reportes/ConfigStyle/background_color" 

        fetch(url,{
            
            method: 'POST',

            body: JSON.stringify({

                background: obtenerColor
              


            }),
            headers:{ 'Content-Type': 'application/json'}


        })
        .then(res=> res.json())
        .then(data=>{

                

               recuperarStyle();
                             

        })
      




    }

    inputColor.addEventListener("change", guardarStyle)


    const recuperarStyle = ()=>{

        const url = "/Reportes/RecuperarStyle"
        fetch(url)
        .then(res => res.json())
        .then(data =>{


            let area_averias = document.getElementById("area_averias");
                area_averias.style.backgroundColor = `${data.background}`;

            let head_table =document.getElementById("head_table");
                head_table.style.backgroundColor = `${data.background}`;


             let inputColor = document.getElementById("inputcolor");
                 inputColor.value = `${data.background}`;
        })


    }




    const btn_nuevoregistro = document.getElementById("formulario");

    const NuevoRegistro_LipiarCampos = () => {
      


        reutilizarenviar.style.display ="none";

        document.getElementById("enviar").value = "Agregar";

        // llamamos el metodo limpiarFiltros para que nos limpie los filtro de busqueda
        LimpiarFiltros();
          

    }


    btn_nuevoregistro.addEventListener("reset", NuevoRegistro_LipiarCamposs)



</script>